<% if user_signed_in? %>
  <p>Welcome, <%= current_user.email %></p>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to 'Sign up', new_user_registration_path, method: :get %><br/>
  <%= button_to 'Log in', new_user_session_path %>
<% end %>